@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "authentic";
    font-weight: lighter;
    src: url('fonts/AUTHENTICSans-Condensed-60.woff2') format('woff');
}

@font-face {
    font-family: "authentic";
    font-weight: normal;
    src: url('fonts/AUTHENTICSans-Condensed-90.woff2') format('woff');
}

:root{
    --light-grey: #EEEEEE;
}

.content {
    width: 334px;
    height: 216px;
    /* width: 1002px;
    height: 648px;
    transform: scale(1/3); */
    border-radius: 3px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
}

.wrapper {
    padding: 1px;
    width: 668px;
    height: 432px;
    width: 2004px;
    height: 1296px;
    transform: scale(0.167);
    transform-origin: top left;
    /* pointer-events: none; */
}

.cover-image{
    width: 2004px;
    height: 1296px;
    object-fit: cover;
    pointer-events: none;
}

body{
    background-color: var(--light-grey);
    font-family: 'authentic', Helvetica, sans-serif;
    cursor: url('/cursor2.png'), auto;
}

a{
    cursor: url('/cursor1.png'), auto;
}

p::selection, span::selection{
    text-shadow: 1px 1px 5px black;
}

a::selection{
    background-color: #000;
    color: var(--light-grey);
}

.project a{
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 6px #cacaca,
             -3px -3px 6px #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: var(--light-grey);
}

.project a:hover{
    box-shadow: inset 3px 3px 6px #cacaca,
            inset -3px -3px 6px #ffffff;
}

.project-list .project{
    /* padding-bottom: 10px; */
    /* padding-top: 2rem; */
    border-bottom: 2px solid black;
    /* background-color: var(--light-grey); */
    /* backdrop-filter: blur(10px); */
    margin:0;
    padding-left: 30px;
    padding-right: 30px;
    /* border-radius: 30px; */
    cursor: pointer;
}

.project-list{
    position: fixed;
    top: 5rem;
    height: calc(100vh - 5rem);
    overflow: scroll;
}

.about p{
    padding: 1rem 0;
}

.about{
    font-weight: normal;
    transform: skew(20px);
}

.project-list h2{
    /* font-size: 20px; */
    font-weight: lighter;
    transition-duration: 0.5s;
}

.project:hover h2{
    /* transform: scaleY(1.5); */
    filter: blur(2px);
    transition-duration: 0.5s;
}

.navbar .active{
    /* filter: blur(2px); Adjust blur amount as needed */
    transition-duration: 0.5s;
    /* background-color: black; */
    /* letter-spacing: 5px; */
    box-shadow:  
        inset 3px 3px 6px #cacaca,
        inset -3px -3px 6px #ffffff;
}

.navbar{
    margin-left: 1.5rem;
}

.navbar li{
    transition-duration: 0.5s;
    box-shadow: 3px 3px 6px #cacaca,
    -3px -3px 6px #ffffff;
    border-radius: 20px;
    padding: 0 10px;
    color: black;
    background-color: var(--light-grey);
}

.navbar li:hover{
    /* letter-spacing: 5px; */
    box-shadow: inset 3px 3px 6px #cacaca,
            inset -3px -3px 6px #ffffff;
}

.categories-wrapper .selected{
    background-color: var(--light-grey);
    box-shadow:  inset 3px 3px 6px #cacaca,
            inset -3px -3px 6px #ffffff;
}

.categories-wrapper li{
    background-color: var(--light-grey);
    box-shadow:  3px 3px 6px #cacaca,
         -3px -3px 6px #ffffff;
}

.categories-wrapper{
    overflow: visible;
}

/* .mattercanvas{
    mix-blend-mode:difference;
} */

.circle{
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.imagesWrapper {
    /* width: calc(100% - 4rem); */
    overflow-y: scroll;
    transition-duration: 0.5s;
}

.imagesWrapper img{
    width: calc(100% - 4rem);
}
/* 
.imagesWrapper:hover img{
    filter:blur(5px) contrast(10) saturate(0) brightness(10);
    transition-duration: 0.5s;
}

.imagesWrapper img:hover{
    filter: blur(0px);
} */

#sparkler {
    position: fixed;
    bottom: 200px;
    left: 0;
    width: 10px;
    background-color: #999999; /* Sparkler color */
    transition: height 0.1s ease-out; /* Smooth transition */
    z-index: 10; /* Ensure sparkler is on top */
}

#sparkler-stem{
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 200px;
    width: 8px;
    background-color: linear-gradient(-60deg,#000 30%,#0005,#000 70%);
    transition: height 0.1s ease-out; /* Smooth transition */
    z-index: 10; /* Ensure sparkler is on top */
}

.project-container h1{
    background-color: var(--light-grey);
}

.project-container{
    height: calc(100vh - 5rem);
}


@media (max-width: 640px) {
    .project-list .project{
        /* padding-bottom: 25px; */
        padding-top: 2rem;
        border-bottom: 2px solid black;
        background-color: transparent;
        backdrop-filter: blur(0px);
        margin: 10px 0;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
    }

    .imagesWrapper:hover img{
        filter:blur(0px);
        transition-duration: 0.5s;
    }
}